@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

:root {
  --section-padding: 8px;
  --section-margin: 1rem;
  --border-radius-default: 0.75rem;
  --primary-color: #9aa9fd;
  --primary-color-dark: #008181;
  --shade-color: #494949da;
  --color-shadow: grey;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 32px;
  padding: var(--section-padding) calc(var(--section-padding) * 2);
  text-decoration: none;
  font-size: 1.5rem;
  transition-duration: 0.2s;
}

button:not(:disabled),
input:not(:disabled),
input:not(:disabled) + label,
a {
  cursor: pointer;
}

button:not(:disabled):hover {
  background-color: var(--primary-color-dark);
}

ul {
  list-style-type: none;
}

body {
  background: rgba(241, 241, 241, 0.849);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

main > * {
  padding: var(--section-padding);
}

h1 {
  font-size: 4rem;
}

#search-form {
  position: relative;
}

input[type="text"] {
  border-radius: var(--border-radius-default);
  padding: var(--section-padding);
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#city-submit-btn {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
  background-image: url("/src/images/magnify.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  background-color: inherit;
  /* vertical-align: top; */
}

h2 {
  font-size: 3rem;
}

.error {
  color: red;
}

#weather-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: white;
  /* border: solid 1px rgba(0, 0, 0); */
  border-radius: var(--border-radius-default);
  padding: 1rem;
  box-shadow: 2px 5px 5px var(--color-shadow);
  position: relative;
}

/* Hide all child elements except #loading when actively fetching data */
#weather-data-container:has(.active) > :not(#loading) {
  opacity: 0;
}
#weather-data-container:has(.active) {
  background: #5c5c5caf;
}

#weather-temperature-container {
  display: flex;
  align-items: center;
}

#weather-icon-container {
  padding: 4rem;
  background: no-repeat center center;
  background-size: cover;
  position: relative;
}

#weather-description-container {
  opacity: 0;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%) translateY(200%);
  transition: opacity 250ms ease-in-out;
  font-style: italic;
  color: rgb(63, 63, 63);
  /* transition-delay: 250ms; */
}

#weather-icon-container:hover #weather-description-container {
  opacity: 1;
}

#temperature-container {
  padding: var(--section-padding);
  text-align: right;
}

#temperature {
  font-size: 2rem;
}

#feels-like {
  font-size: 1rem;
}

table {
  table-layout: fixed;
  /* width: 100%; */
  border-collapse: collapse;
  /* background: rgb(196, 236, 255); */
  border-radius: var(--border-radius-default);
  /* padding: var(--section-padding); */
  /* border-top: solid 1px gray; */
}

table td {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

table td:first-child {
  border-left: none;
}

table td:last-child {
  border-right: none;
}

th {
  text-align: center;
  width: 33%;
  padding: 0.5rem;
}

td {
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  white-space: nowrap;
}

/* Sunrise sunset styling */
#sunrise-sunset-container {
  display: grid;
  place-items: center;
}

#sunrise-sunset-container > * {
  grid-column: 1;
  grid-row: 1;
}

#sunrise-sunset-times > li::before {
  display: inline-block;
  font-weight: bold;
}

#sunrise-time::before {
  content: "Sunrise";
  color: rgb(236, 93, 255);
}

#sunset-time::before {
  content: "Sunset";
  color: rgb(255, 30, 30);
}

/* Toggle switch styling */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.check-trail {
  display: flex;
  align-items: center;
  width: 8em;
  height: 4em;
  background: #2c3e50;
  border-radius: 2.5em;
  transition: all 0.5s ease;
  cursor: pointer;
}

.check-handler {
  display: flex;
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  background: #34495e;
  border-radius: 50%;
  transition: all 0.5s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.check-handler:before {
  content: "C";
  color: white;
  font-size: 2em;
  font-weight: bold;
}

input[type="checkbox"]:checked + .check-trail {
  background: #16a085;
}
input[type="checkbox"]:checked + .check-trail .check-handler {
  margin-left: 50%;
  background: #1abc9c;
}
input[type="checkbox"]:checked + .check-trail .check-handler::before {
  content: "F";
}

footer {
  background: var(--primary-color);
  text-align: center;
  margin-top: var(--section-margin);
  padding: var(--section-padding);
}

.icon {
  vertical-align: bottom;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  font-size: 3rem;
}
